    html { height: 100%; }
    body { height: 100%; margin: 0px; padding: 0px }
    .google-map{width:100%; height:100%;}
    .map-control{
      background-color: white; 
      margin:1em; 
      padding:.5em; 
      border-radius: 1em; 
      word-wrap: break-word;
      font-size: 1em;
      opacity:0.9;
    }
    .pure-form{
      max-width: 400px;
      float:left;
    }


        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
.popwindow {

}
.avatar {
  float: left;
}

.poptext {
  display: inline-block;
  padding-left: 10px;
}